.input {
  width: 100%;
  padding: 10px 16px;
  font: inherit;
  font-size: 16px;
  line-height: normal;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #777;
  box-sizing: border-box;
  outline: none;
  transition: 0.4s;

  &::placeholder {
    color: #999;
    opacity: 0.8;
  }

  &:hover {
    background-color: #fafafa;
  }

  &:focus {
    background-color: #f7f7f7;
  }

  &--multiline {
    max-height: 150px;
    resize: vertical;
  }
}
