.pagination {
  display: flex;
  align-items: center;
  font-size: 14px;
  user-select: none;
}

.pagination__controls {
  display: flex;
  border-radius: 4px;
  border: 1px solid #EEEEEE;
  overflow: hidden;
}

.pagination__control {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #212121;
  background-color: #F5F5F5;
  border: none;
  box-sizing: border-box;
  outline: none;
  transition-duration: 0.4s;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #212121;
    background-color: #EEEEEE;
  }

  &:active {
    color: #212121;
    background-color: #E0E0E0;
  }
}

.pagination__control-icon {
  display: block;
  fill: currentColor;
}

.pagination__list {
  position: relative;
  display: flex;
  align-self: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item {
  display: flex;
}

.pagination__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 24px;
  text-align: center;
  color: #212121;
  text-decoration: none;
  overflow: hidden;

  &:hover,
  &:focus {
    background-color: #FAFAFA;
  }

  .pagination__item--active & {
    cursor: default;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 4px;
      background-color: rgba(#f4511e, 0.1);
      // background-color: rgba(#000, 0.1);
    }
  }
}

.pagination__slide-line {
  position: absolute;
  bottom: 0;
  height: 4px;
  background-color: #f4511e;
  transition: 0.5s linear, height 0.25s;
}
