/* user-nav start */
.user-nav {

}

.user-nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav__item {
  position: relative;
}

.user-nav__link {
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 16px;
  text-decoration: none;
  color: #212121;
  transition: 0.5s;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.user-nav__icon {
  display: block;
  width: 32px;
  height: 32px;
  fill: currentColor;
}

.user-nav__dropdown {
  position: absolute;
  z-index: 5;
  right: 0;
  min-width: 240px;
  transform: translateY(15px);
  pointer-events: none;
  opacity: 0;
  transition: 0.4s;

  // .user-nav__item:hover & {
  //   opacity: 1;
  //   transform: translateY(0);
  //   pointer-events: auto;
  // }

  // .user-nav__item:focus-within & {
  //   opacity: 1;
  //   transform: translateY(0);
  //   pointer-events: auto;
  // }

  &--opened {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}
/* user-nav end */
